<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: white;
      background-color: rgb(43, 221, 150);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <tr>
        <th>Date</th>
        <th>Transaction</th>
        <th>File</th>
        <th>Profile</th>
    </tr>
    {%for receipt in receipt%}
    <tr>
        <td>{{receipt.date}}</td>
        <td>{{receipt.transaction}}</td>
        <td>{{receipt.file}}</td>
        <td><a  href="{%url 'receipt_profile' id=receipt.id%}"> View Profile</a></td>    

    </tr>
    {%endfor%}

</table>